<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <div class="testimonial-item">
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
        <h3>Sara Wilsson</h3>
        <h4>Designer</h4>
      </div>
</body>
</html>